
@import url(source/height/height.min.css);
@import url(source/width/width.min.css);
@import url(source/margin/margin.min.css);
@import url(source/padding/padding.min.css);
@import url(source/font/font.min.css);
@import url(source/any/main.min.css);
@import url(main.style.css);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'ionicons.min.css';
@import 'font-awesome.min.css';
@import 'bootstrap.min.css';
@import 'bootstrap-theme.min.css'; 
@import 'source/any/mixin';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box; }
  *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-border-radius: border-box;
    box-sizing: border-box; }
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-border-radius: border-box;
    box-sizing: border-box; }

/*# sourceMappingURL=main.style.css.map */


/*# sourceMappingURL=clue.css.map */
