
@import 'clue';
*
{
	margin: 0;
	padding: 0;
}
header
{

	position: fixed;
	background: #575757;
	width: 100%;
	padding: 0px 0px;
	height: 70px;
}
ul
{
	padding: 10px 0px;
}

.navbar ul li
{
	float: left;
	padding: 20px 20px !important;
	background: transparent;
	border-top: 1px solid transparent;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;


	width: 100px;
	&:hover
	{
		background:  #C5571E;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		border-radius: 5px 5px 0px 0px !important;

	}

	a
	{
		color: #fff;
		text-decoration: none;
	}
	ul
	{
		li:hover
		{
			background: cyan;
		}
		li:hover > .nav-data
		{
			background: cyan;
		}

		ul
		{
			li:hover
			{
				background: #1DC452;
				border-top: 1px solid transparent;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			border-radius: 0px 0px 0px 0px !important;
			}
		}

	}
}

li:hover > .nav-data
{
	display: block;
	background: #C5571E;

}
li
{
	padding: 60px 10px !important;
	list-style: none;
	background: #C5571E;
}
.nav-data
{
	width: 100%;
	left: 0;
	position: absolute;
	display: none;
	padding: 0px 0;
	background:  #575757;
}