@import url(source/height/height.min.css);
@import url(source/width/width.min.css);
@import url(source/margin/margin.min.css);
@import url(source/padding/padding.min.css);
@import url(source/font/font.min.css);
@import url(source/any/main.min.css);
@import url(main.style.css);
@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import url(ionicons.min.css);
@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box; }

*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box; }

*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=main.style.css.map */
/*# sourceMappingURL=clue.css.map */
* {
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  background: #575757;
  width: 100%;
  padding: 0px 0px;
  height: 70px; }

ul {
  padding: 10px 0px; }

.navbar ul li {
  float: left;
  padding: 20px 20px !important;
  background: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  width: 100px; }
  .navbar ul li:hover {
    background: #C5571E;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 5px 5px 0px 0px !important; }
  .navbar ul li a {
    color: #fff;
    text-decoration: none; }
  .navbar ul li ul li:hover {
    background: cyan; }
  .navbar ul li ul li:hover > .nav-data {
    background: cyan; }
  .navbar ul li ul ul li:hover {
    background: #1DC452;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 0px 0px 0px 0px !important; }

li:hover > .nav-data {
  display: block;
  background: #C5571E; }

li {
  padding: 60px 10px !important;
  list-style: none;
  background: #C5571E; }

.nav-data {
  width: 100%;
  left: 0;
  position: absolute;
  display: none;
  padding: 0px 0;
  background: #575757; }

/*# sourceMappingURL=main.style.css.map */
