@import 'mixin';
@for $i from 0 through 10
{
	.#{border-}#{$i}
	{
		@include border($i + px  solid !important );

		
	}
}






@for $i from 0 through 100
{
	.#{br-}#{$i}
	{
		@include border-radius( $i + px !important);
	}
}


@for $i from 0 through 100
{
	.#{br-}#{$i}#{-p}
	{
		@include border-radius($i + .0% !important);
	}
}





@for $i from 0 through 100
{
	.#{br-t-l-}#{$i}
	{
		@include border-top-left-radius($i + px !important);
	}
}





@for $i from 0 through 100
{
	.#{br-b-l-}#{$i}
	{
		@include border-bottom-left-radius( $i + px !important);
	}
}







@for $i from 0 through 100
{
	.#{br-t-r-}#{$i}
	{
		@include border-top-right-radius($i + px !important);
	}
}





@for $i from 0 through 100
{
	.#{br-b-r-}#{$i}
	{
		@include border-bottom-right-radius($i +px !important);
	}
}


/*net element */


.ov-h
{
	@include overflow(hidden !important);
}
.ov-a
{
	@include overflow(auto !important);
}
.ov-v
{
	@include overflow(visible !important);
}
.ov-s
{
	@include overflow(scroll !important);
}


.ov-y-h
{
	@include overflow-y(hidden !important);
}


.ov-y-e
{
	@include overflow-y(ellipsis !important);
}
.ov-y-a
{
	@include overflow-y(auto !important);
}
.ov-y-v
{
	@include overflow-y(visible !important);
}
.ov-y-s
{
	@include overflow-y(scroll !important);
}


.ov-x-h
{
	@include overflow-x(hidden !important);
}
.ov-a
{
	@include overflow-x(auto !important);
}
.ov-v
{
	@include overflow-x(visible !important);
}
.ov-s
{
	@include overflow-x(scroll !important);
}


.bs-bb
{
	@include box-sizing(border-box !important);
}


/*text editing  */

.uppercase
{
	@include text-transform(uppercase !important) ;
}  

.lowwercase
{
	@include text-transform(lowercase );
}

.title
{
	font-size: 16px !important;
}
.sub-title
{
font-size: 14px !important;
}
.pharagraph
{
	font-size: 12px !important;
}
.list-false
{
	list-style: none;
}
.both
{
	clear: both;
}
.td-false
{
	text-decoration: none;
}
.bold
{
	font-weight: bold;
}
.text-normal
{
	font-weight: normal;
}
.underline
{
	text-decoration: underline;

}
.not-underline
{
	text-decoration: none;
}


.btn
{
	outline: 0px;
	box-shadow: 0;
	border-radius: 0px;
	background: #transparent;
}
.btn:focus
{
	outline: 0px;
	box-shadow: 0;
	border-radius: 0px;
	background: #transparent;
	
}
.btn:hover
{
	outline: 0px;
	box-shadow: 0;
	border-radius: 0px;
	background: #transparent;

}

.b-violet
{
	background: #7C4598;

}

.c-white
{
	color: #fff;
}

.border-2
{
	border: 2px;
	border-color: #000;
}
.b-radius-100
{
	border-radius: 100%;
}

.list-false
{
	list-style: none;
}
.hidden
{
	display: none;
}


.box {

  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid transparent;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.btn-box-tool:hover
 {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.absolute
{
	position: absolute;
}
.relative
{
	position: relative;
}


.list-false
{
	list-style: none !important;
}
.btn
{
	background: transparent;
}


.border-space
{
	height: 1px;
	width: 100%;
	background: rgba(0,0,0,.03);
}
html , body
{
	margin: 0px;
	padding: 0px;
}

.absolute
{
	position: absolute;
}
.relative
{
	position: relative;
}

.right-0
{
	right: 0;
}

.top-0
{
	top: 0;
}
.bottom-0
{
	bottom: 0;
} 
.left-0
{
	left:0;
}


.btn-violet
{
	background: #7D4697;
		border:1px solid #7D4697;
		@include transition(.2s ease);

}

.btn-violet:hover
{
	background: #6C3C82;
	@include transition(.2s ease);
		border:1px solid #6C3C82;
		color: #fff;

}

.btn-violet:focus
{
	background: #6C3C82;
		border:1px solid #6C3C82;
		color: #fff;

}

.btn-violet-outline
{
	background: transparent;
	border:2px solid #7D4697;
	color: #7D4697;
}


.btn-violet-outline:focus
{
	background: transparent;
	border:2px solid #7D4697;
	color: #7D4697;
}
.btn-violet-outline:hover
{
	background: transparent;
	color: #7D4697;
	border:2px solid #7D4697;
}




.c-violet
{
	color: #7D4697;
}
.c-black
{
color: #636363;
}
.bg-white
{
	background: #fff;
}

