
/*this for setting margin*/
@for $i from 0 through 100
{
	.#{m-}#{$i}
	{
		margin: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{mb-}#{$i}
	{
		margin-bottom: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{mt-}#{$i}
	{
		margin-top: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{ml-}#{$i}
	{
		margin-left: $i + px !important;
	}


}

@for $i from 0 through 100
{
	.#{mr-}#{$i}
	{
		margin-right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{my-}#{$i}
	{
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{mx-}#{$i}
	{
		margin-left: $i + px !important;
		margin-right: $i + px !important;
	}
}

@media screen and(min-width: 960px)
{




$data : xl-;


/*this for setting margin*/
@for $i from 0 through 100
{
	.#{$data}#{m-}#{$i}
	{
		margin: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{mb-}#{$i}
	{
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{mt-}#{$i}
	{
		margin-top: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{ml-}#{$i}
	{
		margin-left: $i + px !important;
	}


}

@for $i from 0 through 100
{
	.#{$data}#{mr-}#{$i}
	{
		margin-right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{my-}#{$i}
	{
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{mx-}#{$i}
	{
		margin-left: $i + px !important;
		margin-right: $i + px !important;
	}
}


}

@media screen and(max-width: 960px)
{


$data : lg-;



/*this for setting margin*/
@for $i from 0 through 100
{
	.#{$data}#{m-}#{$i}
	{
		margin: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{mb-}#{$i}
	{
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{mt-}#{$i}
	{
		margin-top: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{ml-}#{$i}
	{
		margin-left: $i + px !important;
	}


}

@for $i from 0 through 100
{
	.#{$data}#{mr-}#{$i}
	{
		margin-right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{my-}#{$i}
	{
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{mx-}#{$i}
	{
		margin-left: $i + px !important;
		margin-right: $i + px !important;
	}
}


}





@media screen and(max-width: 720px)
{


$data : md-;


/*this for setting margin*/
@for $i from 0 through 100
{
	.#{$data}#{m-}#{$i}
	{
		margin: $i + px !important;
	}
}
@for $i from 0 through 100
{
	.#{$data}#{mb-}#{$i}
	{
		margin-bottom: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{mt-}#{$i}
	{
		margin-top: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{ml-}#{$i}
	{
		margin-left: $i + px !important;
	}


}

@for $i from 0 through 100
{
	.#{$data}#{mr-}#{$i}
	{
		margin-right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{my-}#{$i}
	{
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{mx-}#{$i}
	{
		margin-left: $i + px !important;
		margin-right: $i + px !important;
	}
}
}




@media screen and(max-width: 576px)
{


$data : xs-;
/*this for setting height*/



/*this for setting margin*/
@for $i from 0 through 100
{
	.#{$data}#{m-}#{$i}
	{
		margin: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{mb-}#{$i}
	{
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{mt-}#{$i}
	{
		margin-top: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{ml-}#{$i}
	{
		margin-left: $i + px !important;
	}


}

@for $i from 0 through 100
{
	.#{$data}#{mr-}#{$i}
	{
		margin-right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{my-}#{$i}
	{
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{mx-}#{$i}
	{
		margin-left: $i + px !important;
		margin-right: $i + px !important;
	}
}

}








@media screen and(max-width: 375px)
{


$data : xxs-;
/*this for setting height*/


/*this for setting margin*/
@for $i from 0 through 100
{
	.#{$data}#{m-}#{$i}
	{
		margin: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{$data}#{mb-}#{$i}
	{
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{ml-}#{$i}
	{
		margin-left: $i + px !important;
	}


}

@for $i from 0 through 100
{
	.#{$data}#{mr-}#{$i}
	{
		margin-right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{$data}#{my-}#{$i}
	{
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}
}

}